<section ng-controller="ArticlesController" ng-init="findOne()">
  <h1>Edit Article</h1>
  <form ng-submit="update()" novalidate>
    <div>
      <label for="title">Title</label>
      <div>
        <input type="text" ng-model="title" placeholder="Title" required>
      </div>
    </div>
    <div>
      <label for="content">Content</label>
      <div>
        <textarea ng-model="content" id="content"
          cols="30" rows="10" placeholder="Content"></textarea>
      </div>
    </div>
    <div>
      <input type="submit">
    </div>
    <div ng-show="error">
      <strong ng-bind="error"></strong>
    </div>
  </form>
</section>
