<!DOCTYPE>
<html xmlns:ng="http://angularjs.org">
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <section ng-view></section>

    <script type="text/javascript">
      window.user = <%-user || 'null' %>;
    </script>

    <script type="text/javascript" src="/socket.io/socket.io.js">
    </script>

    <script type="text/javascript" src="/lib/angular/angular.js">
    </script>

    <script type="text/javascript" src="/lib/angular-route/angular-route.js">
    </script>

    <script type="text/javascript" src="/lib/angular-resource/angular-resource.js">
    </script>

    <script type="text/javascript" src="/users/services/users.client.module.js">
    </script>

    <script type="text/javascript" src="/example/example.client.module.js">
    </script>

    <script type="text/javascript" src="/example/example.client.routes.js">
    </script>

    <script type="text/javascript" src="/example/controllers/example.client.controller.js">
    </script>


    <script type="text/javascript" src="/users/services/authentication.client.service.js">
    </script>


    <script type="text/javascript" src="/articles/articles.client.module.js">
    </script>

    <script type="text/javascript" src="/articles/services/articles.client.service.js">
    </script>

    <script type="text/javascript" src="/articles/controllers/articles.client.controller.js">
    </script>



    <script type="text/javascript" src="/articles/config/articles.client.routes.js">
    </script>


    <script type="text/javascript" src="/chat/chat.client.module.js">
    </script>

    <script type="text/javascript" src="/chat/services/socket.client.service.js">
    </script>

    <script type="text/javascript" src="/chat/controllers/chat.client.controller.js">
    </script>

    <script type="text/javascript" src="/chat/config/chat.client.routes.js">
    </script>

    <script type="text/javascript" src="/application.js">
    </script>



  </body>
</html>
